 <div id="quiz">
    <div id="question1" class="current_question">
      <div id="question1_content">
        <%= @question1.question %>
      </div>
      <div id="question1_choices">
        <p><%= @question1.choice %></p>
      </div>
    </div>
    <div id="question2" class="question_template">
      <div id="question2_content">
        <%= @question2.question %>
      </div>
      <div id="question2_choices">
        <%= @question2.choice %>
      </div>
    </div>
    <div id="question3" class="question_template">
      <div id="question3_content">
        <%= @question3.question %>
      </div>
      <div id="question3_choices">
        <%= @question3.choice %>
      </div>
    </div>
    <div id="question4" class="question_template">
      <div id="question4_content">
        <%= @question4.question %>
      </div>
      <div id="question4_choices">
        <%= @question4.choice %>
      </div>
    </div>
    <input type="text" id="answer">
    <button id="submitter">
      Submit
    </button>
  </div>
  <div id="question_result">
  </div>
  <button id="next">
    Next Question
  </button>
  <div id="total_result">
  </div>